.button-group-about {
    display: flex;
    gap: 20px;
    border: none;
    padding: 15px 22px;
}

.button-group-div {
    display: flex;
    gap: 20px;
    background-color: #cba12f;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 25px 22px;
    border-radius: 10px;
}

.pera {
    margin-top: 20px;
    color: #3d3b3bbd;
}

.button-col {
    /* background-color: #cba12f; */
    background-color: #3d3b3bbd;
    padding: 12px 20px;
    color: #fff;
    font-weight: 600;
    border: none;
    font-size: 15px;
    border-radius: 10px;
}

/* .back{
    background-image: url(../back.avif);
} */

/* Background color */
.background {
    background-color: #cba12f;
    /* You can set other background styles here */
  }
  
  /* Text color */
  .text {
    color: #2f5ecb; /* Complementary color or any other text color of your choice */
    /* You can set other text styles here */
  }
  
  .pera-head{
    display: flex;
    flex-direction: row;
  }

  .img{
    width: 500px;
  }