.button-group-about {
    display: flex;
    gap: 20px;
    border: none;
    padding: 15px 0px;
}

.button-group-div {
    display: flex;
    gap: 20px;
    background-color: #cba12f;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 25px 0px;
    border-radius: 10px;
}

.pera {
    margin-top: 20px;
    font-size: 18px;
    color: #010101;
}

.button-col {
    background-color: #696767;
    padding: 12px 20px;
    color: #fff;
    font-weight: 600;
    border: none;
    font-size: 16px;
    border-radius: 10px;
}

.background {
    background-color: #cba12f;
}

.pera-head {
    display: flex;
    flex-direction: row;
}

.back {
    padding: 0px 40px;
}

.heading {
    font-size: 25px;
    color: #cba12f;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .pera-head {
        display: flex;
        flex-direction: column;
    }

    .img-food {
        width: 450px;
    }

    .pera {
        font-size: 14px;
        color: #010101;
    }

    .heading {
        font-size: 22px;
        color: #cba12f;
    }

    .img-div {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 800px) and (max-width: 2000px) {
    .pera-head {
        display: flex;
        flex-direction: row;
    }

    .img-food {
        width: 500px;
    }

    .pera {
        font-size: 16px;
        color: #010101;
    }

    .heading {
        font-size: 30px;
        color: #cba12f;
    }

    .img-div {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
    .pera-head {
        display: flex;
        flex-direction: column;
    }

    .img-food {
        width: 300px;
    }

    .pera {
        font-size: 14px;
        color: #010101;
    }

    .heading {
        font-size: 22px;
        color: #cba12f;
    }

    .img-div {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}