.button-group-div {
    display: flex;
    gap: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 25px 22px;
    border-radius: 10px;
}

.custom-button {
    background-color: #d50ed5;
    color: #fff;
    border-radius: 10px;
}

.french {
    background-color: #f30a0a;
    color: #fff;
    border-radius: 10px;
}

.hindi {
    background-color: #44eb44;
    color: #fff;
    border-radius: 10px;
}

/* styles.css */

.custom-select {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: #333;
    font-size: 16px;
    outline: none;
    padding: 10px 8px;
    width: 200px;
    -webkit-appearance: none;
    /* Hide the default arrow on Webkit browsers */
    -moz-appearance: none;
    /* Hide the default arrow on Firefox */
    appearance: none;
}

.custom-select:focus {
    border-color: #007bff;
    /* Change border color on focus */
}

.option {
    padding: 5px;
}