.button-group-div {
    display: flex;
    gap: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 25px 40px;
    border-radius: 10px;
}

.select-dropdown:focus {
    border-color: #007bff;
}

.option {
    padding: 5px;
}

.select-dropdown,
.select-dropdown * {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: #333;
    font-size: 16px;
    outline: none;
    width: 200px;
}

.select-dropdown {
    position: relative;
    background-color: #E6E6E6;
    border-radius: 10px;
}

.select-dropdown select {
    font-size: 1rem;
    font-weight: normal;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-dropdown select:active {
    outline: none;
    box-shadow: none;
}

.select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

@media screen and (min-width: 200px) and (max-width: 500px) {
    .select-dropdown {
        position: relative;
        background-color: #E6E6E6;
        border-radius: 10px;
        width: 114px;
    }
    .button-group-div {
        display: flex;
        gap: 20px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px 40px;
        border-radius: 10px;
    }
}